################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/packages/System.ValueTuple.4.3.0
/Route4MeSdk.FSharp/obj/*
/Route4MeSdk.FSharp/bin/*
*.cache
/packages/*
/Route4MeSdk.FSharp.Example/bin/*
/Route4MeSdk.FSharp.Example/obj/*
/Route4MeSdk.FSharp.Tests/bin/*
/Route4MeSdk.FSharp.Tests/obj/*
