################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/packages/System.ValueTuple.4.3.0
/Route4MeSdk.FSharp/obj/*
*.cache
